In [1]:
import pandas as pd
import numpy as np

In [2]:
dfM = pd.read_csv('MigrationPerCountry_Top10_v04.csv', sep = ',')

In [3]:
dfM.head()

,Country,Type,Coverage,OdName,Year,Migrants,Flow,dLat,dLong,oLat,oLong,ID
0,Germany,Immigrants,Both,Turkey,1980,213126,Turkey - Germany,51.500000,10.5000,39.059012,34.911546,a
1,Germany,Immigrants,Both,Italy,1980,88865,Italy - Germany,51.500000,10.5000,42.833333,12.833333,b
2,Germany,Immigrants,Both,Poland,1980,67940,Poland - Germany,51.500000,10.5000,52.000000,20.000000,c
3,United States,Immigrants,Foreigners,Mexico,1980,56680,Mexico - United States,39.828175,-98.5795,23.000000,-102.000000,d
4,Australia,Immigrants,Both,United Kingdom,1980,43540,United Kingdom - Australia,-25.000000,135.0000,54.000000,-4.000000,e

In [10]:
%%timeit -o
dfM['dLat'].tail(7)

The slowest run took 6.32 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 40.6 µs per loop

In [8]:
%%timeit -o
dfM['dLat'].tail(7).mean()

The slowest run took 59.40 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 79 µs per loop

In [12]:
%%timeit -o
np.mean(dfM['dLat'].tail(7))

The slowest run took 9.38 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 82.2 µs per loop

In [11]:
%%timeit -o
dfM['dLat'][-7:]

The slowest run took 18.36 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 53.3 µs per loop

In [9]:
%%timeit -o
dfM['dLat'][-7:].mean()

10000 loops, best of 3: 92.7 µs per loop

In [13]:
%%timeit -o
np.mean(dfM['dLat'][-7:])

The slowest run took 7.70 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 99.6 µs per loop

In [16]:
dfM['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013], dtype=int64)

In [21]:
for i in np.sort(dfM['Year'].unique())[::-1]:
    print i

2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000
1999
1998
1997
1996
1995
1994
1993
1992
1991
1990
1989
1988
1987
1986
1985
1984
1983
1982
1981
1980

In [22]:
n_minDaysShift = None

In [23]:
~(n_minDaysShift is None)

-2

In [24]:
n_minDaysShift is None

True

In [25]:
if ~(n_minDaysShift is None):
    print 's'

s

In [26]:
~True

-2

In [27]:
not(True)

False

In [28]:
dfM[~(dfM['Year'] == 1980)]

,Country,Type,Coverage,OdName,Year,Migrants,Flow,dLat,dLong,oLat,oLong,ID
10,Germany,Immigrants,Both,Poland,1981,135278,Poland - Germany,51.500000,10.500000,52.000000,20.000000,a
11,United States,Immigrants,Foreigners,Mexico,1981,101268,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,b
12,Germany,Immigrants,Both,Turkey,1981,84711,Turkey - Germany,51.500000,10.500000,39.059012,34.911546,c
13,Germany,Immigrants,Both,Italy,1981,67567,Italy - Germany,51.500000,10.500000,42.833333,12.833333,d
14,Australia,Immigrants,Both,United Kingdom,1981,57050,United Kingdom - Australia,-25.000000,135.000000,54.000000,-4.000000,e
15,United States,Immigrants,Foreigners,Vietnam,1981,55631,Vietnam - United States,39.828175,-98.579500,16.166667,107.833333,f
16,United States,Immigrants,Foreigners,Philippines,1981,43772,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,g
17,Italy,Immigrants,Both,Switzerland,1981,37174,Switzerland - Italy,42.833333,12.833333,47.000000,8.000000,h
18,Australia,Immigrants,Both,New Zealand,1981,34440,New Zealand - Australia,-25.000000,135.000000,-42.000000,174.000000,i
19,United States,Immigrants,Foreigners,"Korea, Rep.",1981,32663,"Korea, Rep. - United States",39.828175,-98.579500,37.000000,127.500000,j
20,United States,Immigrants,Foreigners,Vietnam,1982,72553,Vietnam - United States,39.828175,-98.579500,16.166667,107.833333,a
21,Germany,Immigrants,Both,Poland,1982,58786,Poland - Germany,51.500000,10.500000,52.000000,20.000000,b
22,United States,Immigrants,Foreigners,Mexico,1982,56106,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,c
23,Australia,Immigrants,Both,United Kingdom,1982,51730,United Kingdom - Australia,-25.000000,135.000000,54.000000,-4.000000,d
24,United States,Immigrants,Foreigners,Philippines,1982,45102,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,e
25,Germany,Immigrants,Both,Italy,1982,43834,Italy - Germany,51.500000,10.500000,42.833333,12.833333,f
26,Germany,Immigrants,Both,Turkey,1982,43140,Turkey - Germany,51.500000,10.500000,39.059012,34.911546,g
27,United States,Immigrants,Foreigners,Lao PDR,1982,36528,Lao PDR - United States,39.828175,-98.579500,18.000000,105.000000,h
28,United States,Immigrants,Foreigners,"Korea, Rep.",1982,31724,"Korea, Rep. - United States",39.828175,-98.579500,37.000000,127.500000,i
29,United States,Immigrants,Foreigners,China,1982,27100,China - United States,39.828175,-98.579500,35.000000,105.000000,j
30,United States,Immigrants,Foreigners,Mexico,1983,59079,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,a
31,Germany,Immigrants,Both,Poland,1983,55525,Poland - Germany,51.500000,10.500000,52.000000,20.000000,b
32,United States,Immigrants,Foreigners,Philippines,1983,41546,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,c
33,Germany,Immigrants,Both,Italy,1983,38491,Italy - Germany,51.500000,10.500000,42.833333,12.833333,d
34,United States,Immigrants,Foreigners,Vietnam,1983,37560,Vietnam - United States,39.828175,-98.579500,16.166667,107.833333,e
35,United States,Immigrants,Foreigners,"Korea, Rep.",1983,33339,"Korea, Rep. - United States",39.828175,-98.579500,37.000000,127.500000,f
36,Australia,Immigrants,Both,United Kingdom,1983,31660,United Kingdom - Australia,-25.000000,135.000000,54.000000,-4.000000,g
37,Germany,Immigrants,Both,Turkey,1983,28345,Turkey - Germany,51.500000,10.500000,39.059012,34.911546,h
38,United States,Immigrants,Foreigners,China,1983,25777,China - United States,39.828175,-98.579500,35.000000,105.000000,i
39,United States,Immigrants,Foreigners,India,1983,25451,India - United States,39.828175,-98.579500,20.000000,77.000000,j
...,...,...,...,...,...,...,...,...,...,...,...,...
310,United States,Immigrants,Foreigners,Mexico,2011,143446,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,a
311,Italy,Immigrants,Both,Romania,2011,90136,Romania - Italy,42.833333,12.833333,46.000000,25.000000,b
312,United States,Immigrants,Foreigners,China,2011,87016,China - United States,39.828175,-98.579500,35.000000,105.000000,c
313,United States,Immigrants,Foreigners,India,2011,69013,India - United States,39.828175,-98.579500,20.000000,77.000000,d
314,United Kingdom,Immigrants,Both,India,2011,64608,India - United Kingdom,54.000000,-4.000000,20.000000,77.000000,e
315,United States,Immigrants,Foreigners,Philippines,2011,57011,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,f
316,Spain,Immigrants,Both,Romania,2011,50748,Romania - Spain,40.000000,-4.000000,46.000000,25.000000,g
317,United Kingdom,Immigrants,Both,China,2011,47030,China - United Kingdom,54.000000,-4.000000,35.000000,105.000000,h
318,United States,Immigrants,Foreigners,Dominican Republic,2011,46109,Dominican Republic - United States,39.828175,-98.579500,19.000000,-70.666667,i
319,Canada,Immigrants,Foreigners,Philippines,2011,36765,Philippines - Canada,60.000000,-96.000000,13.000000,122.000000,j
320,United States,Immigrants,Foreigners,Mexico,2012,146406,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,a
321,United States,Immigrants,Foreigners,China,2012,81784,China - United States,39.828175,-98.579500,35.000000,105.000000,b
322,Italy,Immigrants,Both,Romania,2012,80080,Romania - Italy,42.833333,12.833333,46.000000,25.000000,c
323,United States,Immigrants,Foreigners,India,2012,66434,India - United States,39.828175,-98.579500,20.000000,77.000000,d
324,United States,Immigrants,Foreigners,Philippines,2012,57327,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,e
325,United Kingdom,Immigrants,Both,China,2012,50031,China - United Kingdom,54.000000,-4.000000,35.000000,105.000000,f
326,United States,Immigrants,Foreigners,Dominican Republic,2012,41566,Dominican Republic - United States,39.828175,-98.579500,19.000000,-70.666667,g
327,United Kingdom,Immigrants,Both,India,2012,39596,India - United Kingdom,54.000000,-4.000000,20.000000,77.000000,h
328,Canada,Immigrants,Foreigners,Philippines,2012,34315,Philippines - Canada,60.000000,-96.000000,13.000000,122.000000,i
329,Canada,Immigrants,Foreigners,China,2012,33024,China - Canada,60.000000,-96.000000,35.000000,105.000000,j
330,United States,Immigrants,Foreigners,Mexico,2013,135028,Mexico - United States,39.828175,-98.579500,23.000000,-102.000000,a
331,United States,Immigrants,Foreigners,China,2013,71798,China - United States,39.828175,-98.579500,35.000000,105.000000,b
332,United States,Immigrants,Foreigners,India,2013,68458,India - United States,39.828175,-98.579500,20.000000,77.000000,c
333,Italy,Immigrants,Both,Romania,2013,59347,Romania - Italy,42.833333,12.833333,46.000000,25.000000,d
334,United States,Immigrants,Foreigners,Philippines,2013,54446,Philippines - United States,39.828175,-98.579500,13.000000,122.000000,e
335,United Kingdom,Immigrants,Both,China,2013,50444,China - United Kingdom,54.000000,-4.000000,35.000000,105.000000,f
336,United States,Immigrants,Foreigners,Dominican Republic,2013,41311,Dominican Republic - United States,39.828175,-98.579500,19.000000,-70.666667,g
337,United Kingdom,Immigrants,Both,India,2013,35418,India - United Kingdom,54.000000,-4.000000,20.000000,77.000000,h
338,United Kingdom,Immigrants,Both,Spain,2013,34489,Spain - United Kingdom,54.000000,-4.000000,40.000000,-4.000000,i
339,Canada,Immigrants,Foreigners,China,2013,34129,China - Canada,60.000000,-96.000000,35.000000,105.000000,j

In [29]:
(dfM['Year'] == 1980)

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
Name: Year, dtype: bool

In [30]:
~(dfM['Year'] == 1980)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26      True
27      True
28      True
29      True
       ...
310     True
311     True
312     True
313     True
314     True
315     True
316     True
317     True
318     True
319     True
320     True
321     True
322     True
323     True
324     True
325     True
326     True
327     True
328     True
329     True
330     True
331     True
332     True
333     True
334     True
335     True
336     True
337     True
338     True
339     True
Name: Year, dtype: bool